body {
    margin: 0;
}

.header {
    height: 176px;
    padding: 16px 0 0 0;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    margin: 4px auto;
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
}

.footer-description {
    align: center;
    position: fixed;
}

.card-title {
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}
